<div class="container">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center" id="i18_publications">
      <div class="navy-line"></div>
      <h1><span data-i18n="publications.my_publications">My Publications</span></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <p><a href="https://scholar.google.com/citations?user=TPxCxlcAAAAJ&hl=en"><i class="fa fa-graduation-cap fa-3x"></i></a></p>
      <p><a href="https://scholar.google.com/citations?user=TPxCxlcAAAAJ&hl=en">Google Scholar</i></a></p>
</div>
</div>

<div class="col-lg-4 text-center"></div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
	  <h1>2019</h1>
	  <ul style="list-style-type: none">
		<li class="entry">
			<a href="https://doi.org/10.1080/03043797.2017.1397605" style="font-size:12pt; font-weight:bold">Perspectives on pedagogical change: instructor and student experiences of a newly implemented undergraduate engineering dynamics curriculum</a><br />
			David Evenhouse, <b><i> Nimit Patel </i></b>, María Gerschutz, Nick A Stites, Jeffrey F Rhoads, Edward Berger, Jennifer Deboer <br />
			European Journal of Engineering Education
		  </li>	
		</ul>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
	  <h1>2018</h1>
	  <ul style="list-style-type: none">
		<li class="entry">
			<a href="https://doi.org/10.1080/22054952.2018.1519984" style="font-size:12pt; font-weight:bold">Video coding of classroom observations for research and instructional support in an innovative learning environment</a><br />
			David Evenhouse, Austin Zadoks, Claudio Cesar Silva de Freitas, <b><i>Nimit Patel</i></b>, Rohit Kandakatla, Nick Stites, Taylor Prebel, Edward Berger, Charles Krousgrill, Jeffrey F Rhoads, Jennifer DeBoer <br />
			Australasian Journal of Engineering Education
		  </li>
		</ul>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
	  <h1>2017</h1>
	  <ul style="list-style-type: none">
		<li class="entry">
			<a href="https://peer.asee.org/29114" style="font-size:12pt; font-weight:bold">What does an in-class meeting entail? A characterization and assessment of instructor actions in an active, blended, and collaborative classroom</a><br />
			David Allen Evenhouse, Rohit R Kandakatla, Nick A Stites, <b><i>Nimit Patel</i></b>, Austin Zadoks, Taylor Prebel, Claudio Cesar Silva de Freitas, Charles Morton Krousgrill, Edward J Berger, Jeffrey F Rhoads, Jennifer Deboer <br />
			ASEE Annual Conference & Exposition
		  </li>
		</ul>
        <ul style="list-style-type: none">
		<li class="entry">
			<a href="https://doi.org/10.1109/FIE.2017.8190521" style="font-size:12pt; font-weight:bold">Longitudinal analysis of instructor actions in an active, blended, and collaborative classroom environment</a><br />
			A Zadoks, Nick A Stites, David Evenhouse, <b><i>Nimit Patel</i></b>, Rohit Kandakatla, E Berger, Jeffrey F Rhoads, Jennifer DeBoer <br />
			IEEE Frontiers in Education Conference
		  </li>
		</ul>
        <ul style="list-style-type: none">
		<li class="entry">
			<a href="https://d1wqtxts1xzle7.cloudfront.net/83111961/REES_2017_paper_159-1-libre.pdf?1648966934=&response-content-disposition=inline%3B+filename%3DDevelopment_of_a_video_coding_structure.pdf&Expires=1740524773&Signature=OvbfDYBo3I4UzElFIwoYgL-~sTdJW90bjYoQzdkCjFZquUMCIcE0PH62cN9HsBZ79eAFBmTfYQbxizi1nUeiS7MDrgPEYYCWADNzWJgng1-1xbm~PUQIEtJkmpoeXKmnAuGHIHWb~YCenMiXYQihJGzGqbGiHeGgvT0nLf-d6Us7Sn4bzZqq3kI5VwGiG8eUcu5BtYty-DZQUdshE8Zb9QbnmxlgorPbKZXtfeE~fD~Z7xYcVi4cfk0Fc1ffgqUfUhwMW~VMPVCFl1GhRgk5IZh~hvrU8dXW~pZOcqcOEqrjipqcULtAIsoFVwt6E7beNFMmRNuWUWmSqMYJJwXhAQ__&Key-Pair-Id=APKAJLOHF5GGSLRBV4ZA" style="font-size:12pt; font-weight:bold">Development of a video coding structure to record Active, Blended, and Collaborative pedagogical practice</a><br />
			D Evenhouse, <b><i>Nimit Patel</i></b>, J Rhoads, C Krousgrill, E Berger, J DeBoer, R Kandakatla, CCS de Freitas, NA Stites, T Prebel <br />
			Research in Engineering Education Symposium
		  </li>
		</ul>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
	  <h1>2016</h1>
	  <ul style="list-style-type: none">
		<li class="entry">
			<a href="https://peer.asee.org/27075" style="font-size:12pt; font-weight:bold">Transforming a dynamics course to an active, blended, and collaborative format: Focus on the faculty</a><br />
			Jennifer DeBoer, Maria J Gerschutz, David A Evenhouse, <b><i>Nimit Patel</i></b>, Edward J Berger, Nick Stites, Craig Zywicki, David B Nelson, Charles Morton Krousgrill, Jeffrey F Rhoads <br />
			ASEE Annual Conference & Exposition, New Orleans, Louisiana.
		  </li>
		</ul>
    </div>
  </div>
</div>
